<!--入口模板-->
<!--NodeJS express 的模板引擎就是 ejs -->
<!--当做html文件使用-->

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
</head>
<body>
  hello world 2017.06.01
</body>
</html>